<!-- breadcrumb area start -->
<section class="breadcrumb-area breadcrumb-bg extra">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-inner"><!-- breadcrumb inner -->
                    <div class="left-content-area"><!-- left content area -->
                        <h1 class="title">Shopping Cart Page</h1>
                    </div><!-- //. left content area -->
                    <div class="right-content-area">
                        <ul>
                            <li><a href="/">Home</a></li>
                            <li>Login</li>
                        </ul>
                    </div>
                </div><!-- //. breadcrumb inner -->
            </div>
        </div>
    </div>
    </section>
    <!-- breadcrumb area end -->
<!-- cart contetn area start -->
<div class="cart-content-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="cart-content-inner"><!-- cart content inner -->
                    <div class="top-content"><!-- top content -->
                        <table class="table table-responsive">
                            <thead>
                                <tr>
                                    <th>Product</th>
                                    <th>Price</th>
                                    <th>Quantity</th>
                                    <th>Total</th>
                                </tr>
                            </thead>
                            <tbody>

                                <!-- <tr><td colspan="4">
                                    {{ productList | json }}
                                </td></tr> -->

                            <tr *ngFor="let item of productList; let i = index">

                                <td *ngIf="item.title !== undefined">

                                     <!-- {{item | json }} -->

                                        <div class="product-details"><!-- product details -->
                                            <div (click)="removeItem(item, i)" class="close-btn cart-remove-item">
                                                <i class="fas fa-times"></i>
                                            </div>
                                            <div class="thumb">
                                                <img src="{{url}}/load-image?imageUrl={{item.imageUrl}}" alt="cart image" style="height:80px;"><br />
                                                <a (click)="addToSaveForLater(item)" style="color:#2a9cf5;cursor: pointer;">Save for later</a>
                                            </div>
                                            <div class="content">
                                                <h4 class="title">{{item.title}}</h4>
                                            </div>
                                        </div><!-- //. product detials -->
                                    </td>   
                                    <td *ngIf="item.title !== undefined">
                                        <div class="price">${{item.price}}</div>
                                    </td>
                                    <td *ngIf="item.title !== undefined">
                                        <div class="qty">
                                            <ul>
                                                <li><span class="qtminus" (click)="minus(item, i)"><i class="fas fa-minus"></i></span></li>
                                                <li><span class="qttotal">{{item.qty || 0}}</span></li>
                                                <li><span class="qtplus" (click)="plus(item, i)"><i class="fas fa-plus"></i></span></li>
                                            </ul>
                                        </div>
                                    </td>
                                    <td *ngIf="item.title !== undefined">
                                        <div class="price">${{item.itemPriceTotal}}</div>
                                    </td>                                                                                                             

                                </tr>



                            </tbody>
                        </table>
                    </div><!-- //. top content -->


                    <div class="bottom-content"><!-- bottom content -->
                        <div class="left-content-area">
                            <div class="coupon-code-wrapper" style="visibility:hidden;">
                                <div class="form-element">
                                    <input type="text" class="input-field" placeholder="Coupon Code">
                                </div>
                                <button type="button" class="submit-btn">apply coupon</button>
                            </div>
                        </div>
                        <div class="right-content-area">

                            
                            <div class="btn-wrapper">

                                <button style="visibility: hidden;" type="button" class="boxed-btn"> Update Cart </button>

                                <!-- /checkout -->
                                <a  (click)="checkOut(productList)" style="height:80px;"><button type="button" class="boxed-btn"> Processed to checkout </button></a>
                            </div>

                            <div class="cart-total">
                                <h3 class="title">Cart Totals</h3>
                                <ul class="cart-list">
                                    <li>Subtotal <span class="right">${{ total || 0 }}</span></li>
                                    <li>Shipping </li>
                                    <li>Calculate shipping </li>
                                    <li>Tax (estimated for Bangladesh)	 <span class="right">$0.00</span></li>
                                    <li class="total">Total <span class="right">${{ total || 0 }}</span></li>
                                </ul>
                            </div>
                        </div>

                    </div><!-- //. bottom content -->


                    <hr />

                    

                    <div class="top-content"><!-- top content -->
                        <br /><br />
                        

                        <table class="table table-responsive">
                            <thead>
                                <tr>
                                    <th colspan="2">
                                        
                                        <h3>Save For Later</h3>
                                    
                                        <a routerLink="/wish-list"  class="boxed-btn" style="color:#fff;cursor: pointer;" >View Wish List</a>

                                    </th>
                                </tr>

                                <tr>
                                    <th>Product</th>
                                    <th>Price</th>

                                </tr>
                            </thead>
                            <tbody>



                            <tr *ngFor="let item of saveForLaterList; let i = index">

                                <td *ngIf="item.title !== undefined">

                                    <!-- {{item | json }} -->  

                                        <div class="product-details"><!-- product details -->
                                            <div (click)="removeFromSaveForLater(item, i)" class="close-btn cart-remove-item">
                                                <i class="fas fa-times"></i> 
                                            </div>
                                            <div class="thumb">
                                                <img src="{{url}}/load-image?imageUrl={{item.imageUrl}}" alt="cart image" style="height:100px;">
                                                <br />
                                                <a (click)="addToCartFromSaveForLater(item, index)" style="color:#2a9cf5;cursor: pointer;">Add to Cart</a><br /><br />

                                                <a (click)="addToWishListFromSaveForLater(item, index)" style="color:#2a9cf5;cursor: pointer;">Add to Wish List</a>
                                            </div>
                                            <div class="content">
                                                <h4 class="title">{{item.title}}</h4>
                                            </div>
                                        </div><!-- //. product detials -->
                                    </td>   

                                    <td *ngIf="item.title !== undefined">
                                        <div class="price">${{item.price}}</div>
                                    </td>
                                                                                                         

                                </tr>



                            </tbody>
                        </table>
                    </div><!-- //. top content -->





                </div><!-- //. cart content inner -->


            </div>
        </div>
    </div>
</div>
<!-- cart contetn area end -->

