<div *ngIf="orderPlacedDetails.paymentDetails!=null">
  <br>
  <h2 style="text-align: center">Thank You!</h2>
  <hr>
  <br>
  <h5 style="text-align: center">Order Confirmation Number:&nbsp;&nbsp;{{orderPlacedDetails.orderId}}</h5>
  <div class="row" style="width: 50%; margin: 0 auto;">
    <div class="left-content-area">
      <table class="table" style="border-top: none;">
        <tr>
          <td>
            <h5>EMAIL</h5><br>
            <p style="font-size: 15px">{{orderPlacedDetails.billingDetails.email}}</p>
          </td>
        </tr>

        <tr>
          <td>
            <h5>PAYMENT METHOD</h5><br>
            <h6>{{orderPlacedDetails.paymentDetails.paymentType}}</h6>
          </td>
        </tr>

        <tr>
          <td>
            <h5>ORDER DATE</h5><br>
            <h6>{{orderPlacedDetails.orderDate | date:'longDate'}}</h6>
          </td>
        </tr>
      </table>
    </div>

    <div class="right-content-area" style="padding-left: 100px">
      <h5>Shipping Details</h5><br>
      <h6>{{orderPlacedDetails.billingDetails.firstName}}&nbsp;{{orderPlacedDetails.billingDetails.lastName}} <br>
      {{orderPlacedDetails.billingDetails.streetAddress}}<br>
      {{orderPlacedDetails.billingDetails.country}}<br></h6>

    </div>
  </div>

  <table>
    <tr *ngFor="let item of productList; let i = index">

      <td *ngIf="item.title !== undefined">
        <div class="product-details">
          <!-- product details -->
          <div class="thumb">
            <img src="{{item.imageUrl}}" alt="cart image" style="height:80px;"><br />
          </div>
          <div class="content">
            <h4 class="title">{{item.title}}</h4>
          </div>
        </div><!-- //. product detials -->
      </td>

      <td *ngIf="item.title !== undefined">
        <div class="price">${{item.price}}</div>
      </td>
      <td *ngIf="item.title !== undefined">
        <div class="qty">
          <ul>
            <li><span class="qttotal">{{item.qty || 0}}</span></li>
          </ul>
        </div>
      </td>

    </tr>
  </table>

</div>