<!-- top add area start -->
<div class="top-add-area">
    <a href="#"><img src="assets/img/top-bar-add.jpg" alt="top bar add image"></a>
</div>

<!-- top add area end -->


<!-- navbar area start -->
<app-header></app-header>
<!-- navbar area end -->
<app-shop-review></app-shop-review>

<!-- shopping cart in top right -->
<app-scart></app-scart>
<!-- shopping cart in top right -->

<!-- cart sidebar area end -->
<router-outlet></router-outlet>

<!-- footer area one start -->
  <app-footer></app-footer>
<!-- footer area one end -->

   

