<div class="single-featured-one-item"><!-- single featured item -->
  <div class="inner-item">
      <span class="subtitle">Product intro</span>
      <h3 class="title">Offer Ad</h3>
  </div>
  <ul>
      <li>
          <div class="banner-add">
              <a href="offers.html"><img src="assets/img/banner-add/01.jpg" alt="banner image"></a>
          </div>
      </li>
      <li>
          <div class="banner-add">
              <a href="offers.html"><img src="assets/img/banner-add/02.jpg" alt="banner image"></a>
          </div>
      </li>
  </ul>
</div><!-- //.single featured item -->